%strong List of hosts

%p
  =link_to 'New host', new_host_path
  
%table{ :style => "min-width: 50%; font-family: monospace;" }
  %tr
    %th Hostname
    %th MAC address
    %th IP address
    %th 
  - @hosts.each do |host| 
    %tr{ :class => cycle('odd','even') }
      %td=host.hostname
      %td{ :style => "text-align: center" }=host.macaddress
      %td{ :style => "text-align: center" }=host.ipaddress
      %td
        = link_to('Show', host_path(host))
        = link_to('Edit', edit_host_path(host))
        = link_to('Delete', host_path(host), method: :delete, data: { confirm: 'Are you sure?' })
