%h3 Hosts

- if @hosts.count == 0
  %p.alert.alert-warning
    There's no host registred yet.
- else
  %table.table.table-striped.table-bordered.table-hover
    %tr
      %th Hostname
      %th Domain
      %th MAC address
      %th IP address
      %th
    - @hosts.each do |host|
      %tr{ class: cycle('odd','even') }
      %td= host.hostname
      %td= host.domain.name
      %td= host.macaddress
      %td= host.ipaddress
      %td
        =link_to image_tag('show.png', alt: 'Show'), host_path(host)
        =link_to image_tag('edit.png', alt: 'Edit'), edit_host_path(host)
        =link_to image_tag('delete.png', alt: 'Delete'), host_path(host), method: :delete, data: { confirm: 'Are you sure?' }
