%h3 Show

%p
  The machine
  %strong
    =@host.hostname
  has the
  %strong
    =@host.ipaddress
  IP address configured on the NIC
  %strong
    =@host.macaddress
%p
  =link_to 'Back to host list', hosts_list_path
